<app-home></app-home>

<div class="flex justify-content-center">
    <h1 style="font-family: sans-serif;">Scelta Seduta Calendarizzata</h1>
</div>

<div class="flex justify-content-center">
    <div class="border-1 w-10 h-full" style="font-family: sans-serif;">
        <div class="grid ml-4 mt-4">
        <div class="p-text-normal">Legenda</div>
        </div>
        <div class="flex">
            <div class="m-4">
            <div class="p-text-normal">Appuntamenti 1 - {{minEventPerDay}}</div>
            <div class="p-text-normal mt-2">Appuntamenti {{maxEventsPerDay - 4}} - {{inBetweenEventPerDay}}</div>
            <div class="p-text-normal mt-2">Appuntamenti {{maxEventsPerDay}}</div>
            </div>
            <div class="m-4">
                <div class="border-1 w-8rem h-1rem ml-2" [ngStyle]="{backgroundColor:'var(--green-500)'}"></div>
                <div class="border-1 w-8rem h-1rem ml-2 mt-2 py-2" [ngStyle]="{backgroundColor:'var(--yellow-300)'}"></div>
                <div class="border-1 w-8rem h-1rem ml-2 mt-2 py-2" [ngStyle]="{backgroundColor:'var(--pink-400)'}"></div>
            </div>
        </div>
    </div>
</div>

<div class="flex justify-content-center">
    <div class="flex justify-content-center border-1 w-10 m-4">
        <p-fullCalendar #calendar class="m-4 p-4 w-12" [events]="events" [options]="options"></p-fullCalendar>
    </div>
</div>

<p-dialog header="Aggiungi un appuntamento" [contentStyle]="{'overflow': 'visible'}" [maximizable]="true"
    [(visible)]="displayAddAppointment" modal="modal">
    <input class="ml-2 w-13rem" pInputText type="text" [(ngModel)]="appointment" pTooltip="Inserisci un appuntamento" tooltipPosition="top" placeholder="Inserisci un appuntamento">
    <p-calendar class="p-field ml-2" [showIcon]="true" [(ngModel)]="dateStartFromButton" [disabledDays]="daysLimit"
        [readonlyInput]="true" [minDate]="minimumDate" showTime="true" inputId="basic"></p-calendar>
    <button class="ml-2" pButton label="Aggiungi" type="submit" (click)="addButtonAppoitnment()"></button>
    <button class="ml-2 p-button-danger" pButton label=" Annulla " type="submit" (click)="cancelAppointment()"></button>
</p-dialog>


<p-dialog header="Aggiungi un appuntamento" [contentStyle]="{'overflow': 'visible'}" [(visible)]="display" modal="modal">
    <input pInputText class="mt-2 w-13rem" type="text" [(ngModel)]="appointment" pTooltip="Inserisci un appuntamento" tooltipPosition="top" placeholder="Inserisci un appuntamento">
    <p-calendar class="p-field ml-2" [showIcon]="true" [(ngModel)]="dateFromCell" [disabledDays]="daysLimit"
        [readonlyInput]="true" [minDate]="minimumDate" showTime="true" inputId="basic"></p-calendar>
        <!-- <input pInputText [(ngModel)]="dateFromCell" type="text"> -->
    <button class="ml-2" pButton label="Aggiungi" type="submit" (click)="addAppointment()"></button>
    <button class="ml-2 p-button-danger" pButton label=" Annulla " type="submit" (click)="cancelAppointment()"> </button>
</p-dialog>

<p-dialog header="Aggiorna Appuntamento" [contentStyle]="{'overflow': 'visible'}" [(visible)]="updateEventModal" modal="modal">
    <input pInputText type="text" [(ngModel)]="eventTitleToBeChanged">
    <p-calendar class="p-field ml-2" [showIcon]="true" [(ngModel)]="dateHourToBeChanged" [disabledDays]="daysLimit"
        [readonlyInput]="true" [minDate]="minimumDate" showTime="true" inputId="basic"></p-calendar>
    <button class="ml-2 p-button-secondary" pButton label="Modifica" type="submit" (click)="updateEvent()"></button>
    <button class="ml-2 p-button-danger" pButton label=" Annulla " type="submit" (click)="cancelAppointment()"> </button>
</p-dialog>


<p-dialog header="Riaggiunto numero totale di eventi possibili da impostare." [(visible)]="totalAmountOfEvents"
    modal="modal"></p-dialog>
<p-dialog header="Data non valida. Date valide sono data attuale e le date che vengono dopo la data attuale."
    [(visible)]="disableDatesBeforeCurrentDate" modal="modal"></p-dialog>

<app-footer></app-footer>
