<div class="flex justify-content-center">
    <div class="border-1 h-10rem w-9">
        <div class="flex justify-content-evenly mt-6">
            <buttton pButton>Salva Bozza</buttton>
            <buttton pButton>Modifica</buttton>
            <buttton pButton>Annulla</buttton>
        </div>

    </div>
</div>

<div class="flex justify-content-center py-4">
    <div class="border-1 h-10rem w-9">
        <div class="flex justify-content-center mt-6">
            <buttton pButton>Invia</buttton>
        </div>

    </div>
</div>

<div class="flex justify-content-center py-4">
    <div class="border-1 h-10rem w-9">
        <div class="flex justify-content-center mt-6">
            <h1 style="font-family: sans-serif;">Footer</h1>
        </div>
    </div>
</div>