<div class="flex justify-content-center">
    <div class="border-1 w-10 h-10rem m-6 mt-2">
        <!-- <form [formGroup]="intialForm"> -->
            <div class="flex justify-content-around mt-6">

                <div class="px-4">
                    <label for="">N.U.P</label>
                    <p style="color:#A9A9A9;">Lorem Ipsum</p>
                </div>

                <div class="px-4">
                    <label for="">A.S.P</label>
                    <p style="color:#A9A9A9;">Lorem Ipsum</p>
                </div>

                <div class="px-4">
                    <label for="">DISTRETTO SANITARIO BASE</label>
                    <p style="color:#A9A9A9;">Lorem Ipsum</p>
                </div>

                <div class="px-4">
                    <label for="">PROGRESSIVO PRATICA</label>
                    <p style="color:#A9A9A9;">Lorem Ipsum</p>
                </div>
            </div>
        <!-- </form> -->
    </div>
</div>
