<div class="flex justify-content-center">
    <div class="border-1 w-9 h-10rem flex justify-content-center m-6 mt-2">
        <form [formGroup]="intialForm">
            <div class="flex justify-content-center">
                <div class="m-6">
                    <div class="card ml-2">
                        <label for="">N.U.P</label>
                    </div>
                    <input formControlName="nup" disabled pInputText class="m-2" type="text"
                        style="background-color: #DCDCDC;">
                </div>
                <div class="m-6">
                    <div class="card ml-2">
                        <label for="">A.S.P</label>
                    </div>
                    <input formControlName="asp" disabled pInputText class="m-2" type="text"
                        style="background-color: #DCDCDC;">
                </div>
                <div class="m-6">
                    <div class="card ml-2">
                        <label for="">DISTRETTO SANITARIO BASE</label>
                    </div>
                    <input formControlName="distrettoSanitarioBase" disabled pInputText class="m-2" type="text"
                        style="background-color: #DCDCDC;">
                </div>
                <div class="m-6">
                    <div class="card ml-2">
                        <label for="" class="">PROGRESSIVO PRATICA</label>
                    </div>
                    <input formControlName="progressivoPratica" disabled pInputText class="m-2" type="text"
                        style="background-color: #DCDCDC;">
                </div>
            </div>
        </form>
    </div>
</div>