<div class="flex justify-content-center">
    <div class="border-1 w-10 h-full m-6 mt-2">
        <!-- <form [formGroup]="intialForm"> -->
            <div class="grid justify-content-around m-6">

                <div class="px-4">
                  <div class="p-text-normal" style="width: 10rem">N.U.P</div>
                  <div class="p-text-normal" style="width: 10rem; color: #A9A9A9;">Lorem Ipsum</div>
                    <!-- <label for="">N.U.P</label>
                    <p style="color:#A9A9A9;">Lorem Ipsum</p> -->
                </div>

                <div class="px-4">
                  <div class="p-text-normal" style="width: 10rem">A.S.P</div>
                  <div class="p-text-normal" style="width: 10rem; color: #A9A9A9;">Lorem Ipsum</div>
                    <!-- <label for="">A.S.P</label>
                    <p style="color:#A9A9A9;">Lorem Ipsum</p> -->
                </div>

                <div class="px-4">
                  <div class="p-text-normal" style="width: 100%">DISTRETTO SANITARIO BASE</div>
                  <div class="p-text-normal" style="width: 10rem; color: #A9A9A9;">Lorem Ipsum</div>
                    <!-- <label for="">DISTRETTO SANITARIO BASE</label>
                    <p style="color:#A9A9A9;">Lorem Ipsum</p> -->
                </div>

                <div class="px-4">
                  <div class="p-text-normal" style="width: 100%">PROGRESSIVO PRATICA</div>
                  <div class="p-text-normal" style="width: 10rem; color: #A9A9A9;">Lorem Ipsum</div>
                    <!-- <label for="">PROGRESSIVO PRATICA</label>
                    <p style="color:#A9A9A9;">Lorem Ipsum</p> -->
                </div>
            </div>
        <!-- </form> -->
    </div>
</div>
