<app-header></app-header>

<app-breadcrumb></app-breadcrumb>

<app-initialdata></app-initialdata>

<div class="flex justify-content-center">

  <div class="border-1 h-full w-10">



    <p-tabView class="w-9">
      <p-tabPanel header="Dati Paziente">



        <label for="">
          <h2 class="m-4" style="color: gray; font-family: sans-serif;">Informazioni Anagrafiche</h2>
        </label>
        <div class="border-3 w-11 ml-4" style="color: gray;"></div>
        <div class="w-10 m-4">
          <div class="flex justify-content-around py-2">

            <div class="flex">
              <div>

                <div class="px-4">
                  <label for="">Azienda Locale</label>
                  <p>Lorem Ipsum</p>
                </div>

                <div class="px-4 mt-6">
                  <label for="">Nome</label>
                  <p>Lorem Ipsum</p>
                </div>

                <div class="px-4 mt-6">
                  <label for="">Data Nascita</label>
                  <p>Lorem Ipsum</p>
                </div>

              </div>

            </div>

            <div class="flex">
              <div class="ml-4">
                <div class="ml-8 px-4">
                  <label for="">Distretto</label>
                  <p>Lorem Ipsum</p>
                </div>


                <div class="ml-8 px-4 mt-6">
                  <label for="">Secondo Nome</label>
                  <p>Lorem Ipsum</p>
                </div>

                <div class="ml-8 px-4 mt-6">
                  <label for="">Provinca Nascita</label>
                  <p>Lorem Ipsum</p>
                </div>
              </div>



            </div>

            <div class="flex">
              <div class="mt-6 py-2">
                <div class="ml-8 px-8 mt-6">
                  <label for="">Cognome</label>
                  <p>Lorem Ipsum</p>
                </div>
                <div class="ml-8 px-8 mt-6">
                  <label for="">Comune di Nascita</label>
                  <p>Lorem Ipsum</p>
                </div>
              </div>
            </div>

            <div class="flex">
              <div class="mt-6 py-2">
                <div class="ml-8 mt-6">
                  <label for="">Sesso</label>
                  <p>Lorem Ipsum</p>
                </div>
                <div class="ml-8 mt-6">
                  <label for="">Codice Fiscale</label>
                  <p>Lorem Ipsum</p>
                </div>
              </div>
            </div>

          </div>


        </div>
        <label for="">
          <h2 class="m-4" style="color: gray; font-family: sans-serif;">Informazioni di Contatto</h2>
        </label>
        <div class="border-3 w-11 ml-4" style="color: gray; font-family: sans-serif;"></div>
        <div class="w-10 m-4">
          <div class="flex justify-content-start py-2">

            <div class="flex">
              <div>
                <div class="px-4">
                  <label for="">Indirizzo</label>
                  <p>Lorem Ipsum</p>
                </div>
                <div class="px-4 mt-6">
                  <label for="">Tessera Sanitaria</label>
                  <p>Lorem Ipsum</p>
                </div>
              </div>
            </div>

            <div class="flex">
              <div>
                <div class="ml-8 px-4">
                  <label for="">Comune di Residenza</label>
                  <p>Lorem Ipsum</p>
                </div>
                <div class="ml-8 px-4 mt-6">
                  <label for="">Essenzione Ticket</label>
                  <p>Lorem Ipsum</p>
                </div>
              </div>
            </div>

            <div class="flex">
              <div>
                <div class="ml-8 px-4">
                  <label for="">D.S.B di Residenza</label>
                  <p>Lorem Ipsum</p>
                </div>
                <div class="ml-8 px-4 mt-6">
                  <label for="">Scadenza Essenzione Ticket</label>
                  <p>Lorem Ipsum</p>
                </div>
              </div>
            </div>



            <div class="ml-8 px-2">
              <label for="">Recapito Telefonico</label>
              <p>Lorem Ipsum</p>
            </div>
          </div>

          <div class="flex justify-content-start py-2">

          </div>
        </div>
        <label for="">
          <h2 class="m-4" style="color: gray; font-family: sans-serif;">Persona di Riferimento</h2>
        </label>
        <div class="border-3 w-11 ml-4" style="color: gray;"></div>
        <div class="w-10 m-4">
          <div class="flex justify-content-start py-2">

            <div class="flex">
              <div>
                <div class="px-4">
                  <label for="">Cognome</label>
                  <p>Lorem Ipsum</p>
                </div>
                <div class="px-4 mt-6">
                  <label for="">Indirizzo</label>
                  <p>Lorem Ipsum</p>
                </div>
              </div>
            </div>


            <div class="flex">
              <div>
                <div class="ml-8 px-6">
                  <label for="">Nome</label>
                  <p>Lorem Ipsum</p>
                </div>
                <div class="ml-8 px-6 mt-6">
                  <label for="">Comune di Residenza</label>
                  <p>Lorem Ipsum</p>
                </div>
              </div>
            </div>



            <div class="flex">
              <div>
                <div class="ml-8">
                  <label for="">Grado di Parentela</label>
                  <p>Lorem Ipsum</p>
                </div>
                <div class="ml-8 mt-6">
                  <label for="">Provinca di Residenza</label>
                  <p>Lorem Ipsum</p>
                </div>
              </div>
            </div>

            <div class="ml-6">
              <div class="ml-8 px-4">
                <label for="">Recapito Telefonico</label>
                <p>Lorem Ipsum</p>
              </div>
            </div>

          </div>

          <div class="flex justify-content-start py-2">

          </div>
        </div>
        <label for="">
          <h2 class="m-4" style="color: gray; font-family: sans-serif;">Personale Incaricato</h2>
        </label>
        <div class="border-3 w-11 ml-4" style="color: gray;"></div>
        <div class="w-10 m-4">
          <div class="flex justify-content-start py-2">

            <div class="flex">
              <div>
                <div class="px-4">
                  <label for="">Medico Compilatore</label>
                  <p>Lorem Ipsum</p>
                </div>
                <div class="px-4 mt-6">
                  <label for="">Assistente Sociale</label>
                  <p>Lorem Ipsum</p>
                </div>
              </div>
            </div>

            <div class="flex">
              <div>
                <div class="ml-8">
                  <label for="">Recapito Telefonico</label>
                  <p>Lorem Ipsum</p>
                </div>
                <div class="ml-8 mt-6">
                  <label for="">Recapito Telefonico</label>
                  <p>Lorem Ipsum</p>
                </div>
              </div>
            </div>
          </div>

        </div>


      </p-tabPanel>
      <p-tabPanel header="Albo Documentale">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
        leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
        like
        Aldus PageMaker including versions of Lorem Ipsum.

        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
        leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
        like
        Aldus PageMaker including versions of Lorem Ipsum.


        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
        leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
        like
        Aldus PageMaker including versions of Lorem Ipsum.
      </p-tabPanel>
      <p-tabPanel header="Storico">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
        leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
        like
        Aldus PageMaker including versions of Lorem Ipsum.

        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
        leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
        like
        Aldus PageMaker including versions of Lorem Ipsum.


        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
        and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
        leap into
        electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of
        Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
        like
        Aldus PageMaker including versions of Lorem Ipsum.
      </p-tabPanel>
    </p-tabView>

  </div>

</div>
