<div class="card flex justify-content-between">
    <div class="ml-5">
        <button pButton type="button" label="Home" class="p-button-success m-2" [routerLink]="['/nav']"></button>
        <button pButton type="button" label="Ricevuta Pagamento" class="p-button-success m-2" [routerLink]="['1']"></button>
        <button pButton type="button" label="Seduta" class="p-button-success m-2" [routerLink]="['2']"></button>
        <button pButton type="button" label="Verifica" class="p-button-success m-2" [routerLink]="['3']"></button>
    </div>
</div>

<router-outlet></router-outlet>
